@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url(../fonts/arlrdbd.ttf);
  src: url(../fonts/arlrdbd.ttf) format("ttf");
}

:root {
  /* FONTS */
  --primary-font: "Arial Rounded MT Bold", Arial, Sans-serif;

  /* COLORS */
  --primary-color: #db524d;
  --secondary-color: #df645f;
  --tertiary-color: #c94b46;
  --primary-font-color: #f2f2f2;
  --secondary-font-color: #591e23;
  --grey-font-color: #a69798;

  /* PADDING */
  --section-padding: 15%;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
  padding: 0%;
}

body {
  margin: 0%;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  padding: 2.5%;
  padding-inline: 15%;
  border-style: solid;
  border-color: var(--tertiary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

header a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.header-logo {
  font-weight: bold;
  font-size: 120%;
}

header ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
  margin: 0%;
}

header p {
  margin: 0%;
}

header ul a {
  background-color: var(--secondary-color);
  padding: 10%;
  font-size: 90%;
  border-radius: 5px;
}

/* POMODORO SECTION */

.pomo-section {
  display: block;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  padding: var(--section-padding);
  padding-top: 5%;
}

.timer-container {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3%;
  border-radius: 5px;
  width: 100%;
}

.timer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.timer-menu li {
  padding: 2%;
}

.current-menu-option {
  background-color: var(--tertiary-color);
  border-radius: 5px;
}

.timer-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-count p {
  font-size: 500%;
  margin: 5%;
  font-weight: bold;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 140%;
  background-color: var(--primary-font-color);
  color: var(--primary-color);
  padding: 5%;
  padding-inline: 20%;
  border-radius: 5px;
  margin: 5%;
  margin-bottom: 10%;
}

.current-task-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 75%;
  color: var(--primary-font-color);
  margin-top: 2%;
}

.current-task {
  color: var(--primary-font-color);
  font-size: 140%;
  text-transform: none;
  margin-top: 0%;
  font-weight: bold;
}

.tasks-menu {
  display: grid;
  grid-template-columns: 1fr;
}

.tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-style: solid;
  border-top: none;
  border-inline: none;
  border-color: var(--secondary-color);
  border-width: 2px;
}

.task {
  background-color: var(--primary-font-color);
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  margin-top: 2%;
  border-radius: 5px;
  padding-inline: 5%;
  font-weight: bold;
}

.task-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

.dots {
  display: block;
  aspect-ratio: 1/1;
  width: 20px;
  border-style: solid;
  border-color: var(--grey-font-color);
  border-width: 1px;
  border-radius: 2px;
}

.checklist {
  color: var(--grey-font-color);
  font-size: 90%;
}

.add-task {
  background-color: var(--tertiary-color);
  justify-content: center;
  color: var(--primary-font-color);
  border-style: dashed;
  border-color: var(--secondary-color);
  border-width: 3px;
}

.unfinished {
  border-left: solid;
  border-width: 5px;
}

.overview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 5%;
}

/* TEXT SECTION */
.text-section {
  color: var(--secondary-font-color);
  padding: var(--section-padding);
  padding-top: 5%;
  padding-bottom: 5%;
}

.text-section h2 {
  font-size: 120%;
}

.text-section a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.text-section ol,
ul {
  padding-left: 5%;
}
